<<<<<<< HEAD
<div class="card">
  <div class="card-header">
    <h1>Update Your Article</h1>
  </div>

<%= render "form", articleForm: @editArticle%>


</div>
=======
<h1>Edit Article</h1>

<%= render "form", article: @article %>
>>>>>>> development
